* {
  box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
  margin: 0;
}

nav {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 0;
  background-color: burlywood;
  position: fixed;
  width: 100%;
}

form {
  padding: 100px 10px 10px;
  display: grid;
  background-color: rgb(230, 230, 230);
}

form > label {
  margin: 10px 0;
}

form button {
  margin-top: 15px;
  padding: 10px 25px;
  cursor: pointer;
  align-self: center;
  background-color: royalblue;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 700;
}

.post {
  text-align: center;
  margin: 0 1.5rem;
}

.post h3 {
  color: navy;
}

.post p {
  color: steelblue;
}
